{% extends 'base.html.twig' %}

{% block title %}Add Category{% endblock %}

{% block body %}
<div class="container">
<div class="form-control2">
    <h1>Add Category</h1><br>

    {{ form_start(form) }}
        {{ form_row(form.name , {'attr':{'class':'form form-control'}}) }} <br>
        <input class="btn btn-outline-success" id="btn1" name="Save" type="submit" value="Save" />
    {{ form_end(form) }}
   </div> 
</div>

    
{% endblock %}